@import "variables.css";
@import "media.css";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT:ital@0;1&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "Old Standard TT", "Courier New", "Georgia", serif;
    /* color: var(--grey-color); */
}

h1,
h2,
h3,
h4 {
    font-family: "Bebas Neue", "Helvetica", sans-serif, cursive;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
    font-size: 2.2em;
}

.banner h1 {
    font-size: 5em;
}

.banner p {
    font-size: 1.2em;
}

.categories {
    display: none;
}

.prev,
.next {
    display: none;
}

.carousel .blog-card {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--grey-color);
}

.cta {
    background-color: var(--brightgreen-color);
    padding: 8px 30px;
    font-size: 1.2em;
    color: #fff;
    border: 3px solid var(--brightgreen-color);
}

.cta:hover {
    background-color: #fff;
    color: var(--grey-color);
}

.error {
    color: var(--red-color);
}

.load-more {
    display: none;
    margin: 30px auto;
}

/* ---------------------------- Menu ---------------------------- */

/* ------------Home------------ */

.banner {
    padding-top: 60px;
    padding-bottom: 140px;
}

.banner > * {
    text-align: center;
}

/* ----------- Blog ----------- */

figure img {
    width: 100%;
    margin: auto;
    object-fit: cover;
    height: 360px;
    z-index: 1000;
}

ul {
    list-style-type: none;
}

.blog-container {
    max-width: 720px;
    margin: auto;
}
.blog-container > * {
    margin-bottom: 20px;
}

.blog-container > h2 {
    margin-bottom: 0px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

#modal-image {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ----------- Bars ----------- */
.bars {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bar {
    box-sizing: border-box;
    background-color: var(--grey-color);
    width: 28px;
    height: 3px;
    transition: 0.2s ease-in-out;
    border-radius: 6px;
}

.active .bar1 {
    transform-origin: center;
    transform: translateY(9px) rotate(45deg);
}

.active .bar3 {
    transform-origin: center;
    transform: translateY(-9px) rotate(-45deg);
}

.active .bar2 {
    transform-origin: center;
    scale: 0;
}

/* ----------- Navigation ----------- */
.menu {
    position: fixed;
    width: 100%;
    background: var(--green-color);
    padding: 20px 0px;
    z-index: 1000;
}

.menu.not-active {
    transform-origin: top right;
    animation: disappear 0.15s ease-in-out forwards;
}

.menu.active {
    transform-origin: top right;
    animation: appear 0.15s ease-in-out forwards;
}

.options {
    list-style-type: none;
    padding: 0px 20px;
}

.options li {
    padding: 20px 0px;
    font-size: 32px;
    text-align: center;
}

.header-items,
.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes appear {
    from {
        scale: 0;
        right: -100%;
    }
    to {
        scale: 1;
        right: 0;
    }
}

@keyframes disappear {
    from {
        scale: 1;
        right: 0;
    }
    to {
        scale: 0;
        right: -100%;
    }
}

.logo {
    max-width: 140px;
}

.home-button {
    display: flex;
    align-items: center;
}

.header-content,
.main-content,
.footer__content {
    max-width: 1280px;
    padding: 14px;
    align-items: center;
    margin: 0px auto;
}

.logo {
    display: flex;
}

header,
footer {
    background: var(--green-color);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

a {
    color: var(--grey-color); /* Override the default color */
    text-decoration: none; /* Remove the underline */
}

a div {
    transition: transform 0.3s ease-in-out;
}

a div:hover {
    transform: scale(1.1);
}
a:hover {
    text-decoration: underline;
}

.selected {
    text-decoration: underline;
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blogs__container {
    position: relative;
}
/* ------ Contact -------- */
.input__container {
    margin: 20px 0px;
}

.contact__information > p {
    margin: 20px 0px;
}

.input__container > * {
    display: block;
}

.input__suggestion,
.input__container label {
    display: inline-block;
}

.input__message {
    display: none;
    font-size: 0.8em;
}

.input__container input,
.input__container textarea {
    width: 100%;
    border: 1px solid var(--lightgrey-color);
    padding: 4px 0px;
    border-top: none;
    border-right: none;
    border-left: none;
}

#contact__form {
    background-color: var(--sand-color);
    padding: 40px;
}

.contact__information {
    background-color: var(--green-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.icon {
    background-color: var(--green-color);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
}

.line {
    padding: 4px 0px;
    display: flex;
    align-items: center;
}

i {
    font-size: 28px;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--lightgrey-color);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}

.error {
    display: block;
}

/* ------- loader ------- */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--lightgrey-color);
    border-bottom-color: var(--green-color);
    border-radius: 50%;
    display: block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ---------- media --------- - */
@media (min-width: 660px) {
    .banner {
        padding-top: 80px;
        padding-bottom: 180px;
    }

    h1 {
        font-size: 3.5em;
    }

    .banner h1 {
        font-size: 7em;
    }

    .banner p {
        font-size: 1.2em;
    }

    .bars,
    .bars.not-active,
    .bars.active {
        display: none;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
    }
    .menu,
    .menu.not-active,
    .menu.active {
        position: inherit;
        width: auto;
        height: auto;
        padding: 0px;
        z-index: 1000;
        animation: none;
    }

    .options {
        display: flex;
        flex-direction: row;
    }

    .options {
        padding: none;
    }
    .options li {
        padding: 0px;
        margin-left: 50px;
        font-size: 20px;
        text-align: center;
    }

    /* ------- carousel ------- */

    .carousel {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        box-sizing: border-box;
        position: relative;
    }

    .slide {
        display: none;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .slide a > img {
        width: 100%;
        height: 220px;

        object-fit: cover;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        width: auto;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        display: inline-block;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .blogs__container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

@media (min-width: 920px) {
    .blogs__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* contact */
    .column-2 {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }
}
